.contact-me {
    line-height: 1.5rem;
    margin-left: 12rem;
    margin-bottom: 2rem;
}

.contact-meh1 {
    margin-left: 12rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.contact-both-sides {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contact-left {
padding: 3rem;

}

.contact-right {
    padding: 3rem;
    
}